@model BlogSystem.Data.Models.Post

@{
    ViewBag.Title = "Xóa bộ sưu tập";
}

<h3 class="text-danger">Bạn có chắc chắn muốn xóa không?</h3>
<img src="@(System.Configuration.ConfigurationManager.AppSettings["uploadfile_BST"].ToString() + "Galleries/" + ViewBag.name)" height="200" />

@using (Html.BeginForm("Delete", "BST", new { name = ViewBag.name }, FormMethod.Post, new { style = "margin-top: 10px" }))
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">Xóa</button>

    @Html.ActionLink("Cancel", "Index", "BST", new { area = "Administration" }, new { @class = "btn btn-default" })
}