@model BlogSystem.Web.ViewModels.Posts.IndexPostsViewModel

@{
    ViewBag.Title = "Thiết kế nội thất";
}

<!-- page title area start -->
<section class="page__title p-relative d-flex align-items-center" data-background="https://themepure.net/template/outstock-prv/outstock/assets/img/page-title/page-title-1.jpg" style="background-image: url(&quot;https://themepure.net/template/outstock-prv/outstock/assets/img/page-title/page-title-1.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page__title-inner text-center">
                    <h1 class="uppercase">@ViewBag.Title</h1>
                    <div class="page__title-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page title area end -->
<!-- blog area start -->
<section class="blog__area pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3 style="font-weight: 600;">THIẾT KẾ NỘI THẤT</h3>
                <h4>Đội ngũ thiết kế luôn sẵn sàng</h4>
                <p>Quý khách có thể gặp đội ngũ tư vấn thiết kế chuyên nghiệp để được hướng dẫn hay tư vấn giúp quý khách hàng thực hiện trọn vẹn ý thích của mình.</p>

                <h4>Khi liên hệ chúng tôi, quý khách được:</h4>
                <p>Hướng dẫn quý khách trong việc chọn đồ nội thất<br>Tư vấn thiết kế miễn phí khi mua đồ nội thất Nhà Xinh<br>Tư vấn để có một không gian sống hài hòa, ấm cúng và thoải mái<br>Giúp quý khách thể hiện phong cách của mình qua không gian sống<br>Từ bản vẽ mặt bằng nhà quý khách, thiết kế Nhà Xinh thực hiện bản vẽ 3D giúp quý khách dễ dàng hình dung thực tế.</p>

                <a href="#" target="_self" class="ct-btn-4 btn bg-light br-47">
                    <span>xem mẫu thiết kế</span>
                    <i class="icon-checkmark"></i>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img class="w-inherit" src="https://azfuni.com/wp-content/uploads/2022/03/design-furniture-Interior-2.jpg" alt="nội thất sang trọng">
            </div>
        </div>
    </div>
</section>
<!-- blog area end -->
<!-- blog area start -->
<section class="blog__area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img class="w-inherit" src="https://azfuni.com/wp-content/uploads/2022/03/design-furniture-Interior-2.jpg" alt="nội thất sang trọng">
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3 style="font-weight: 600;">THIẾT KẾ NỘI THẤT</h3>
                <h4>Đội ngũ thiết kế luôn sẵn sàng</h4>
                <p>Quý khách có thể gặp đội ngũ tư vấn thiết kế chuyên nghiệp để được hướng dẫn hay tư vấn giúp quý khách hàng thực hiện trọn vẹn ý thích của mình.</p>

                <h4>Khi liên hệ chúng tôi, quý khách được:</h4>
                <p>Hướng dẫn quý khách trong việc chọn đồ nội thất<br>Tư vấn thiết kế miễn phí khi mua đồ nội thất Nhà Xinh<br>Tư vấn để có một không gian sống hài hòa, ấm cúng và thoải mái<br>Giúp quý khách thể hiện phong cách của mình qua không gian sống<br>Từ bản vẽ mặt bằng nhà quý khách, thiết kế Nhà Xinh thực hiện bản vẽ 3D giúp quý khách dễ dàng hình dung thực tế.</p>

                <a href="#" target="_self" class="ct-btn-4 btn bg-light br-47">
                    <span>xem mẫu thiết kế</span>
                    <i class="icon-checkmark"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- blog area end -->
<!-- blog area start -->
<section class="blog__area pt-50 pb-50">
    <div class="container custom-container-2">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>Quy Trình Thiết Kế</h2>
                    </div>
                    <div class="section__sub-title">
                        <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><span>Bước 1: Tiếp nhận thông tin và khảo sát</span></h4>
                <p>Tổng hợp các yêu cầu của khách hàng về dạng công trình (căn hộ, biệt thự, nhà phố); mức độ thiết kế (cung cấp sản phẩm, cải tạo, thiết kế mới);…sau đó tiến hành khảo sát hiện trạng mặt bằng, đo đạc thực tế.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><span>Bước 2: Thiết kế ý tưởng</span></h4>
                <p>Dựa trên các thông tin thu thập từ khách hàng kết hợp với khảo sát hiện trạng, thiết kế Nhà Xinh sẽ lên ý tưởng, giải pháp không gian mặt bằng, bố trí thỏa mãn tất cả các yêu cầu và mục tiêu đề ra. Đến thời điểm này chúng tôi có thể lên dự toán sơ bộ chi phí đầu tư cho khách hàng nắm rõ, dựa trên bảng vẽ mặt bằng không gian đã thống nhất trước đó.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><span>Bước 3: Thiết kế phối cảnh 3D</span></h4>
                <p>Dựa trên mặt bằng đã được khách hàng duyệt thiết kế Nhà Xinh sẽ thể hiện cho khách hàng thấy rõ không gian nội thất bên trong một cách cụ thể và sống động qua phương pháp vẽ phối cảnh 3D. Thể hiện đầy đủ màu sắc, chất liệu vật liệu để khách hàng thấy rõ không gian và nội thất của căn phòng mình trước khi thi công.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><span>Bước 4: Ký hợp đồng thi công</span></h4>
                <p>Sau khi chỉnh sửa thiết kế 3D cuối cùng giữa thiết kế Nhà Xinh và khách hàng. Hai bên sẽ tiến đến ký kết hợp đồng thi công theo bảng dự toán báo giá cuối cùng dựa trên thiết kế khách hàng đã duyệt.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><span>Bước 5: Triển khai thi công</span></h4>
                <p>Đội ngũ giám sát kết hợp với thiết kế Nhà Xinh sẽ triển khai thi công tại công trình theo tiến độ đã đưa ra.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h4><span>Bước 6: Nghiệm thu bàn giao</span></h4>
                <p>Tiến hành nghiệm thu và bàn giao công trình sau khi hoàn tất các hạng mục thi công. Bên Nhà Xinh sẽ tiến hành vệ sinh toàn bộ công trình, hướng dẫn khách hàng sử dụng sản phẩm, lập biên bản nghiệm thu, bàn giao công trình.</p>
            </div>
        </div>
    </div>
</section>
<!-- blog area end -->
<!-- product__slider-area start -->
<div class="product__slider-area pt-50 pb-50">
    <div class="container custom-container-2">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>Các Dự Án Đã Làm</h2>
                    </div>
                    <div class="section__sub-title">
                        <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-12">
                <div class="product__slider-active owl-carousel">
                    <div class="product__slider-item">
                        <div class="product__item mb-40">
                            <div class="product__wrapper">
                                <div class="product__thumb">
                                    <a href="#" class="w-img">
                                        <img src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-2.jpg" alt="product-img">
                                        <img class="product__thumb-2" src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-2.jpg" alt="product-img">
                                    </a>
                                </div>
                                <div class="product__content product__content-2 p-relative text-center">
                                    <div class="product__content-inner">
                                        <h4><a href="#">Haggar Men's Heather</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__slider-item">
                        <div class="product__item mb-40">
                            <div class="product__wrapper">
                                <div class="product__thumb">
                                    <a href="#" class="w-img">
                                        <img src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-8.jpg" alt="product-img">
                                        <img class="product__thumb-2" src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-8.jpg" alt="product-img">
                                    </a>
                                    <div class="product__sale product__sale-3">
                                        <span class="new">new</span>
                                    </div>
                                </div>
                                <div class="product__content product__content-2 p-relative text-center">
                                    <div class="product__content-inner">
                                        <h4><a href="#">Adrianna Papell Women's</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__slider-item">
                        <div class="product__item mb-40">
                            <div class="product__wrapper">
                                <div class="product__thumb">
                                    <a href="#" class="w-img">
                                        <img src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-11.jpg" alt="product-img">
                                        <img class="product__thumb-2" src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-11.jpg" alt="product-img">
                                    </a>
                                    <div class="product__sale product__sale-3">
                                        <span class="new">new</span>
                                    </div>
                                </div>
                                <div class="product__content product__content-2 p-relative text-center">
                                    <div class="product__content-inner">
                                        <h4><a href="#">Calvin Klein Women's</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__slider-item">
                        <div class="product__item mb-40">
                            <div class="product__wrapper">
                                <div class="product__thumb">
                                    <a href="#" class="w-img">
                                        <img src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-12.jpg" alt="product-img">
                                        <img class="product__thumb-2" src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-12.jpg" alt="product-img">
                                    </a>
                                </div>
                                <div class="product__content product__content-2 p-relative text-center">
                                    <div class="product__content-inner">
                                        <h4><a href="#">Cotton Twill Suit</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__slider-item">
                        <div class="product__item mb-40">
                            <div class="product__wrapper">
                                <div class="product__thumb">
                                    <a href="#" class="w-img">
                                        <img src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-1.jpg" alt="product-img">
                                        <img class="product__thumb-2" src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-1.jpg" alt="product-img">
                                    </a>
                                    <div class="product__sale product__sale-3">
                                        <span class="new">new</span>
                                    </div>
                                </div>
                                <div class="product__content product__content-2 p-relative text-center">
                                    <div class="product__content-inner">
                                        <h4><a href="#">Calvin Klein Women's</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__slider-item">
                        <div class="product__item mb-40">
                            <div class="product__wrapper">
                                <div class="product__thumb">
                                    <a href="#" class="w-img">
                                        <img src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-9.jpg" alt="product-img">
                                        <img class="product__thumb-2" src="https://themepure.net/template/outstock-prv/outstock/assets/img/shop/product/product-9.jpg" alt="product-img">
                                    </a>
                                </div>
                                <div class="product__content product__content-2 p-relative text-center">
                                    <div class="product__content-inner">
                                        <h4><a href="#">Cotton Twill Suit</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product__slider-area end -->